.login {
  background-color: #c2f8b0;
  padding: 2em;
  max-width: 480px;
  margin: 2em auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1.5em;
  color: #333;
}
  
.form-item {
  margin-bottom: 1.5em;
  text-align: left;
}
  
label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #333;
}
  
input {
  width: 100%;
  padding: 0.75em;
  border: solid 2px #000000 !important;
  border-radius: 4px;
  font-size: 1em;
  margin: inherit;
  box-sizing: border-box;
}
  
.login-button {
  width: 100%;
  background-color: #ffc107 !important;
  border: solid;
  margin: inherit;
  font-weight: bold !important;
  transition: background-color 0.3s;
}
  
.login-button:hover {
  background-color: #b6b1f6 !important;
}

#login-username, #login-password {
  box-shadow: 0px 0px 100px 100px #c2f8b0 inset
}