.top-form {
  width: 100%;
  max-width: 500px;
  margin: 5em auto;
  padding: 2em;
  background-color: #feb1f3;
  border-radius: 12px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}
  
h1 {
  font-size: 2em;
  margin-bottom: 1.0em;
  color: #333;
}
  
.top-register-button, .top-logout-button, .top-management-button {
  display: block !important;
  width: 100%;
  height: 100% !important;
  max-width: 300px !important;
  max-height: 55px;
  margin: 1em auto;
  background-color: #ffc107 !important;
  border: 2px solid #000;
  padding: 0.75em 1em !important;
  font-size: 1.2em !important;
  font-weight: bold !important;
  color: #000 !important;
  text-decoration: none !important;
  border-radius: 8px !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease, transform 0.1s ease;
}
  
.top-register-button:hover, .top-logout-button:hover, .top-management-button:hover {
  background-color: #b6b1f6 !important;
}